<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </li>
      <li>
        <a routerLink="/example-interpolation" routerLinkActive="active">Example interpolation</a>
      </li>
      <li>
        <a routerLink="/example-pb" routerLinkActive="active">Example property binding</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <h1>{{ title }}</h1>
  <app-item-list [items]="items" [filterText]="filterText" [sortOrder]="sortOrder"
    [sortField]="sortField"></app-item-list>

  <button (click)="onClickChangeSortOrder()">Change sort order</button>
  <input #sortFieldValue type="text">
  <button (click)="onClickChangeSortField(sortFieldValue.value)">Change sort field</button>
  <router-outlet></router-outlet>
</main>

<footer></footer>